.row
	.span9

		%div.carousel.slide#homeCarousel
			-#
				%ol.carousel-indicators
					%li(data-target="#homeCarousel" data-slide-to="0")
					%li(data-target="#homeCarousel" data-slide-to="1")
					%li(data-target="#homeCarousel" data-slide-to="2")
			%div.carousel-inner
				%div.item.active
					%img{:src => "/assets/device.jpg"}
					%div.carousel-caption
						%p
							Microfluidics for single-cell analysis
				%div.item
					%img{:src => "/assets/stained-cell-images.jpg"}
					%div.carousel-caption
						%p
							Discovery of a subpopulation of Sca-1+ satellite cells are myogenic and can fuse into MyHC+ myotubes.  (Balakrishnan et al., Integrative Biology, 2013)
				%div.item
					%img{:src => "/assets/node-pore-device.jpg"}
					%div.carousel-caption
						%p
							Node-Pore Sensing (Balakrishnan et al., Lab Chip, 2013)
				
			%a.carousel-control.left{:href => "#homeCarousel", 'data-slide' => "prev"}
				&lsaquo;
			%a.carousel-control.right{:href => "#homeCarousel", 'data-slide' => "next"}
				&rsaquo;
	.span3
		.thumbnail
			%h4
				Lab
			%p
				5127/5129 Etcheverry Hall and 137 Sutardja Dai Hall
			%h4
				Prof. Sohn's Office
			%address
				5118 Etcheverry Hall
				%br/ 
				University of California, Berkeley
				%br/ 
				Berkeley, CA 94720

		

.row
	.bs-docs-example#news
		%h4
			Upcoming Events in Spring 2013
		%ul.media-list
			%li.media
				.media-body
					%h5.media-heading
						February 28
					Prof. Sohn will be giving an invited talk in the Dept. of Mechanical Engineering, UC Davis on Feb. 28.
			%li.media
				.media-body
					%h5.media-heading
						March 2
					The Sohn Lab will be hosting a workshop for middle-school aged girls (grades 6-8) on Microfludics. This workshop is part of the “Expanding your Horizons” Conference on March 2. See http://www.expandingyourhorizons.org
			%li.media
				.media-body
					%h5.media-heading
						March 21
					Prof. Sohn will be giving an invited talk at the American Physical Society Annual March Meeting in Baltimore, March 21. She will be speaking about “Uncovering stem-cell heterogeneity in the microniche with label-free microfluidics.”
			%li
				Anand, Bo, and Eric will be presenting their work on “Micropost microenvironments for studying luminal-basal lineage commitment of breast cancer cells.” This is a project that we are collaborating with Dr. Mark Labarge at LBNL.
			%li
				Prof. Sohn will be giving an invited talk at the 57th International Conference on Electron, Ion, and PHoton Beam Technology and Nanofabrication in Nashville, Tennessee. The title of her talk is “Electronic Sensing of Stem Cells.”

			%li.media
				.media-body
					%h5.media-heading
						February 3, 2013

					The group’s paper on screening and sorting satellite muscle stem cells from single myofibers has been accepted to Integrative Biology. Congratulations!

			%li.media
				.media-body
					%h5.media-heading
						January 21, 2013

					Karthik’s paper on Node-Pore Sensing is accepted to Lab Chip. Congratulations!

			%li.media
				.media-body
					%h5.media-heading
						December 14, 2012

					Anand Kesavaraju graduates! He will be working in our group full time starting in January, 2013. Congratulations!

			%li.media
				.media-body
					%h5.media-heading
						November 28, 2012

					Prof. Sohn presents her group’s work on “Label-Free Single-Cell Analysis” for the CITRIS Research Exchange here at Berkeley. You can find a recording of her talk at http://youtube/mhy8kHwSvv8.

			%li.media
				.media-body
					%h5.media-heading
						November 27, 2012

					Prof. Sohn gives a talk at Nerd-nite East Bay at the Stork Club in Oakland. Her talk was about Label-free Cell Analysis.

			%li.media
				.media-body
					%h5.media-heading
						November 18, 2012

					Claudia Reiche from the Technical University of Berlin begins her 1-month visit in our group. She is a Masters candidate in Business Engineering in Berlin and she is performing a marketing analysis of our D3 project with Siemens for her thesis. Welcome!

			%li.media
				.media-body
					%h5.media-heading
						August 10, 2012

					Matthew Chambers joins the group. Matthew recently graduated from Georgia Institute of Technology in the Dept. of Mechanical Engineering. Welcome! 

			%li.media
				.media-body
					%h5.media-heading
						August 15, 2012

					Prof. Sohn presents a talk on “Label-Free Single-Cell Analysis” at the W. M. Keck Foundation Workshop on Imaging Detection of Single Molecules: Challenges and Opportunities.

			%li.media
				.media-body
					%h5.media-heading
						June 22, 2012

					Prof. Sohn talks to the Berkeley Breakfast Club about her group’s work on Label-free Cell Diagnostics

			%li.media
				.media-body
					%h5.media-heading
						May 30, 2012

					Karthik passes his Qualifying Exam. Congratulations!

			%li.media
				.media-body
					%h5.media-heading
						May 12, 2012

					Evan Lyall graduates! Congrats!

			%li.media
				.media-body
					%h5.media-heading
						April 20, 2012

					Prof. Sohn is an invited speaker at the 7th Gotham Metro Condensed Matter Meeting, New York Academy Sciences.  She will discuss her role in uncovering the fraudulent work of Hendrik Schön and will participate in a  “fireside chat” centered on issues of ethics in research and their interplay with the various pressures to publish.

					See  http://www.nyas.org/Events/Detail.aspx?cid=49b7849a-8651-4a92-b95b-46417cd8f147

			%li.media
				.media-body
					%h5.media-heading
						April 2, 2012

					Evan Lyall chooses Berkeley Biophysics Program for graduate school.  Congrats Evan!

			%li.media
				.media-body
					%h5.media-heading
						April 1, 2012

					The new Sohn Lab in Sutardha Dai Hall is finished!!  We look forward to moving day.  The lab is in Room 137 and we invite everyone to visit us once we are settled in our newly renovated space.  Yes, we will still be in Etcheverry 5127/5129/5113, too.

			%li.media
				.media-body
					%h5.media-heading
						March 28, 2012

					Anand Kesavaraju presents a poster to the American Chemical Society National Meeting in San Diego:  Label-free screening of multiple cell-surface antigens using single micropores

			%li.media
				.media-body
					%h5.media-heading
						March 27, 2012

					Matthew Chapman gives an oral presentation to the American Chemical Society National Meeting in San Diego:  Characterizing Spatial Organization of Cell-Surface Receptors in Human Breast Cancer with STORM

			%li.media
				.media-body
					%h5.media-heading
						March 25, 2012

					Karthik Balakrishnan gives an oral to the American Chemical Society National Meeting in San Diego:  Using label-free screening to investigate stem-cells from their microanatomical niche

			%li.media
				.media-body
					%h5.media-heading
						February 21, 2012

					First STORM imaging achieved!  Images of CCR7 receptors on the surface of MCF7 cells were recorded.  Congrats Matthew and Evan!!  On to Multi-color STORM!

			%li.media
				.media-body
					%h5.media-heading
						February 8, 2012

					Evan Lyall receives a travel grant from the Division of Biological Physics of the American Physical Society to attend the APS Annual March Meeting in Boston.  Congrats Evan!

			%li.media
				.media-body
					%h5.media-heading
						February 1, 2012

					Phase 2 of Direction Detection Diagnostics (D3) begins with Siemens Healthcare under the Berkeley/Siemens Center of Knowledge Interchange program

			%li.media
				.media-body
					%h5.media-heading
						November 29, 2011

					Matthew Chapman and Karthik Balakrishnan are selected to give oral presentations at the Nanopores Conference in Spain, February 6-10, 2012

			%li.media
				.media-body
					%h5.media-heading
						November 20, 2011

					Anand Kesavaraju selected for a Co-Op internship at St. Jude Medical, Cardiac Rhythms Group. Congrats, Anand!

			%li.media
				.media-body
					%h5.media-heading
						November 12, 2011

					Prof. Sohn presents a talk, "Label-Free Cell Diagnostics", at the Berkeley Shanghai Biotech Forum in Shanghai, China

					July 2011

					Eric Jabart is names a 2011 Siebel Foundation Scholar. Congrats to Eric!

					September 2011

					Vincent Tuminelli joins the lab as Lab Research Scientist. Welcome Vinny!

					September 2011

					Peter Pan joins the lab as a rotation student. Welcome Peter!

			%li.media
				.media-body
					%h5.media-heading
						April 23, 2011

					Karthik Balakrishnan wins the 2011 National Defense Science & Engineering Graduate (NDSEG) Fellowship. 

			%li.media
				.media-body
					%h5.media-heading
						October 5, 2010

					Professor Sohn was awarded the DoD Breast Cancer Research Program Idea Award, part of the Office of the Congressionally Directed Medical Research Programs. Read more about this organization here.

			%li.media
				.media-body
					%h5.media-heading
						July 2, 2010

					Corinne leaves for Creighton Medical School.  GOOD LUCK Corinne!

			%li.media
				.media-body
					%h5.media-heading
						June 18, 2010

					Eric published a book chapter in Studies in Mechanobiology, Tissue Engineering and Biomaterials, titled “Biomaterial Applications in the Adult Skeletal Muscle Satellite Cell Niche: Deliberate Control of Muscle Stem Cells and Muscle Regeneration in the Aged Niche”. Read more about his book chapter here. 

			%li.media
				.media-body
					%h5.media-heading
						May 16, 2010

					Nga completed her undergraduate studies at UC Berkeley. Congrats Nga, and good luck with your graduate studies in bioengineering at Boston University!

					Jimmy completed his undergraduate studies at UC Berkeley. Congrats Jimmy!

			%li.media
				.media-body
					%h5.media-heading
						May 14, 2010

					Eric passed his quals! Congrats Eric!

			%li.media
				.media-body
					%h5.media-heading
						May 10, 2010

					Karthik and Matthew successfully complete their first year of graduate school! 

			%li.media
				.media-body
					%h5.media-heading
						May 7, 2010

					Dr. Mohanty presents at The Ottowa Conference on New Directions in Biology and Disease of Skeletal Muscle

			%li.media
				.media-body
					%h5.media-heading
						April 28, 2010

					Matthew officially joins the Sohn Lab

			%li.media
				.media-body
					%h5.media-heading
						April 23, 2010

					Allison passed her quals! Congrats Ally!

			%li.media
				.media-body
					%h5.media-heading
						March 18, 2010

					Eric has been selected to receive the 2009-2010 Outstanding Graduate Student Instructor Award, sponsored by the GSI Teaching and Resource Center. Congratulations Eric, we are so proud of you!

			%li.media
				.media-body
					%h5.media-heading
						January 22, 2010

					Eric has been selected to present a poster at the Society For Biomaterials 2010 Annual Meeting and Exposition: Where Materials Meet Biology held in Seattle, Washington in April 2010.

			%li.media
				.media-body
					%h5.media-heading
						January 4, 2010

					Sohn, Conboy, and Herr receive a Keck Foundation Medical Research Program award for their project: Applying Embryonic Signal Integration for Adult Limb and Organ Regeneration. Read more about their project here.

			%li.media
				.media-body
					%h5.media-heading
						December 8, 2009

					Dr. Swomitra Mohanty selected as a CIRM Postdoctoral Scholar

			%li.media
				.media-body
					%h5.media-heading
						November 18, 2009

					Prof. Sohn is a panelist on the Global Technology Leader conference at UCSF
