%h3
	The Lab
.row
	.span3
		%img{:src => "/assets/lab1.jpg"}

	.span9
		%p{:align => "justify"}
			We have a Class 1000/10000 cleanroom, fully-equipped with a Karl Suss Mask Aligner for photolithography, a 4-pocket source electron-gun evaporator, a thermal evaporator, a cold sputterer, a PlasmaTherm dual chamber for plasma-enhanced chemical vapor deposition (PECVD) and reactive-ion etching (RIE), and various Nikon microscopes for bright field and fluorescence imaging. Further, we have an Asylum MFP-3D atomic force microscope integrated with a Nikon TE2000 inverted microscope that enables simultaneous force and optical measurements. We also have a custom-built microscope capable of performing 3D super-resolution imaging via photoactivated localization microscopy (PALM) and stochastic optical reconstruction microscopy (STORM).  Finally, we have a dedicated tissue culture room and an Illumina Eco qRT-PCR system.
		%img{:src => "/assets/lab2.jpg"}