%h4
	UC Berkeley
%ul
	%li
		%a{:href => "http://www.qb3.org", :target => "_blank"}
			QB3
	%li
		%a{:href => "http://stemcellcenter.berkeley.edu/", :target => "_blank"}
			Berkeley Stem-Cell Center
	%li
		%a{:href => "http://bioegrad.berkeley.edu/", :target => "_blank"}
			UCSF-UCB Graduate Program in Bioengineering

%h4
	Collaborators
%ul
	%li
		%a{:href => "http://stemcellcenter.berkeley.edu/PIs/conboy.html", :target => "_blank"}
			Prof. Irina Conboy
	%li
		%a{:href => "http://biomed.uchicago.edu/common/faculty/godley.html", :target => "_blank"}
			Dr. Lucy A. Godley, M.D., Ph.D. 
	%li
		%a{:href => "http://www.stat.berkeley.edu/~hhuang/", :target => "_blank"}
			Prof. Haiyan Huang
	%li
		%a{:href => "http://www.lbl.gov/LBL-Programs/lifesciences/LaBargeLab/Site/LaBarge_Lab_Home.html", :target => "_blank"}
			Dr. Mark LaBarge
