.row
	.span6
		%h3
			Current Group
		.thumbnail
			%img.people-pics{:src => "/assets/current-group.jpg"}
	.span6
		%h3.lead
			Principal Investigator
		.thumbnail
			%img.people-pics{:src => "/assets/sohn.jpg"}
			%h3
				%a{:href => "/assets/sohn_berkeley_CV_2013.pdf"}
					Lydia L. Sohn
			%p
				Associate Professor of Mechanical Engineering
				%br/
				Core Member, UCSF-UCB Graduate Program in Bioengineering
%br/
.row
	%blockquote
		%p
			The Group
	%hr
	%ul.thumbnails
		%li.span4
			.thumbnail
				%img.people-pics{:src => "/assets/karthik.jpg"}
				%h5
					Karthik Balakrishnan
				%p
					Graduate Student, Mechanical Engineering
		%li.span4
			.thumbnail
				%img.people-pics{:src => "/assets/chambers.jpeg"}
				%h5
					Matthew Chambers
				%p
					Research Scientist
		%li.span4
			.thumbnail
				%img.people-pics{:src => "/assets/placehold.png"}
				%h5
					Eugene Chao
				%p
					Undergraduate, Physics

		%li.span4
			.thumbnail
				%img.people-pics{:src => "/assets/jimmy.jpg"}
				%h5
					Jimmy Hack
				%p
					Research Scientist

		%li.span4
			.thumbnail
				%img.people-pics{:src => "/assets/justin.jpeg"}
				%h5
					Justin Inman
				%p
					Undergraduate, Molecular & Cellular Biology

		%li.span4
			.thumbnail
				%img.people-pics{:src => "/assets/eric.jpg"}
				%h5
					Eric Jabart
				%p
					Graduate Student, Bioengineering

		%li.span4
			.thumbnail
				%img.people-pics{:src => "/assets/Richard.jpg"}
				%h5
					Richard Hwang
				%p
					Undergraduate, Bioengineering

		%li.span4
			.thumbnail
				%img.people-pics{:src => "/assets/anand.jpeg"}
				%h5
					Anand Kesavaraju
				%p
					Research Scientist

		%li.span4
			.thumbnail
				%img.people-pics{:src => "/assets/trong.jpg"}
				%h5
					Trong Nguyen
				%p
					Undergraduate, Engineering Physics

		%li.span4
			.thumbnail
				%img.people-pics{:src => "/assets/bo.jpg"}
				%h5
					Bo Qing
				%p
					Undergraduate, Bioengineering

		%li.span4
			.thumbnail
				%img.people-pics{:src => "/assets/jeremy.jpeg"}
				%h5
					Jeremy Whang
				%p
					Undergraduate, Bioengineering