.row
	%h3.muted
		Open Positions
	%p{:align => "justify"}
		We seek highly creative individuals (at the postdoc, graduate, and undergraduate level) who have a background in one or more of the following: molecular and cellular biology, bioengineering, advanced microscopy, electrical engineering, and micro/nano fabrication.  Specific positions we have available are for the following projects:
		%ul.unstyled
			%li
				1)	Label-free multi-marker screening and sorting
			%li
				2)	HiSeq-mRNA analysis of single cells for biomarker discovery
			%li
				3)	Investigating the microenvironmental cues of breast-cancer stem cells

		If interested, please contact Prof. Lydia Sohn via email and include your resume/CV and a short description of your research experience.
