%h4
	Selected Publications
%ol
	%li
		M. R. Chapman, K. Balakrishnan, J. Li, M. J. Conboy, H. Huang, S. K. Mohanty, E. Jabart, J. Hack, I. M. Conboy, and L. L. Sohn, “Sorting single satellite cells from individual myofibers reveals heterogeneity in cell-surface markers and myogenic capacity, accepted to Integrative Biology (Feb. 3, 2013).
	%li
		K. Balakrishnan, G. Anwar, M. R. Chapman, T. Ngyuen, A. Kesavaraju, and L. L. Sohn, “Node-Pore Sensing: A Robust, High-Dynamic Range Method for Detecting Biological Species,” Lab Chip (2013) DOI: 10.1039/C3LC41286E.
	%li
		Karthik Balakrishnan and Lydia L. Sohn, "Cell Screening Using Resistive-Pulse Sensing," in Methods in Cell Biology 112, Ed. P. Michael Conn, Elsevier, pp. 369-387 (2012).
	%li
		L. L. Sohn, "Fields, Forces, and Flows in Biological Systems, by Alan J. Grodzinsky—A Review", Quarterly Review of Biology 87, 159 (2012).
	%li
		K. Balakrishnan, M. R. Chapman, A. Kesavaraju, and L. L. Sohn, “A variable cross-section pore for screening cells for specific markers,” in Nanopores for Bioanalytical Applications: Proceedings of the International Conference, Eds. J. Edel and T. Albrecht, RSC Publishing, pp. 18-23 (2012).
	%li
		M. R. Chapman, K. Balakrishnan, M. J. Conboy, S. K. Mohanty, E. Jabart, J. Li, H. Huang, J. Hack, I. M. Conboy, and L. L. Sohn, “Label-free screening of niche-to-niche variation in Satellite stem cells using functionalized pores,” in Nanopores for Bioanalytical Applications: Proceedings of the International Conference, Eds. J. Edel and T. Albrecht, RSC Publishing, pp. 38-42 (2012).
	%li
		M. R. Chapman and L. L. Sohn, “Label-Free Resistive Pulse Cytometry,” Methods in Cell Biology: Cytometry Vth Edition, Recent Advances in Cytometry 102 Eds. Z. Darzynkiewicz, E. Holden, A. Orfao, W. G. Telford, and D. Wlodkowic. Elsevier, pp. 127-57 (2011).
	%li
		R. Dylla-Spears, J. E. Townsend, L. Jen-Jacobson, L. L. Sohn, and S. J. Muller, “Single-Molecule Sequence Detection via Microfluidic Planar Extensional Flow at a Stagnation Point,” Lab Chip 2010 Jun 21;10(12):1543-9. Epub 2010 Mar 31.
	%li
		R. Dylla-Spears, J. E. Townsend, L. Jen-Jacobson, L. L. Sohn, and S. J. Muller, “Single-Molecule Sequence Detection via Microfluidic Planar Extensional Flow at a Stagnation Point”, submitted to Lab Chip. (2009).
	%li
		R. Dylla-Spears, J. E. Townsend, L. L. Sohn, L. Jen-Jacobson, and S. J. Muller, “Fluorescent Marker for Direct Detection of Specific dsDNA Sequences”, Anal. Chem. 81, 10049-10054 (2009).
	%li
		S. K. Mohanty, M. Conboy, I. Conboy, and L. L. Sohn, “Stem-Cell Surface Marker Interrogation via Resistive-Pulse Sensing: Screening for Sca-1 Expression in Mouse Muscle Stem Cells”, The Proceedings of µTAS 2009 Conference, Korea (2009).
	%li
		O. A. Saleh and L. L. Sohn, “Resistive-Pulse Sensing and On-Chip Artificial Pores for Biological Sensing”, Invited Chapter in Nano and MicroSensors for Chemical and Biological Surveillance, eds. J. B-H. Tok, Royal Society of Chemistry (2009).
	%li
		A. Carbonaro, H. Huang, L. A. Godley, and L. L. Sohn, “Cell Characterization Using a Protein-Functionalized Pore”, Lab Chip 9, 1478-1485 (2008).
	%li
		A. Shamloo, N. Ma, M.-m. Poo, L.L. Sohn, S.C. Heilshorn, “Endothelial cell chemotaxis in a shear stress free microfluidic device”, Lab Chip 8, 1292-1299.
	%li
		A. Carbonaro, L. A. Godley, and L. L. Sohn, “Cell Characterization Using Protein-Functionalized Pores”, The Proceedings of µTAS 2007 Conference (2007), eds. J. –L. Viovy, P. Tabeling, S Descroix, and L. Malaquin, The Chemical and Biological Microsystems Society (2007).
	%li
		A. Thupil, M-m. Poo, and L. L. Sohn, “Studying Cell Chemotaxis Using a Microfluidic-Gradient Generator”, The Proceedings of µTAS 2007 Conference (2007), eds. J. –L. Viovy, P. Tabeling, S Descroix, and L. Malaquin, The Chemical and Biological Microsystems Society (2007).
	%li
		L. L. Sohn, J. L. Herberg, B. D. Harteneck, D. R. Myers, and J. A. Liddle, “Fabrication of an On-Chip NMR Microfluidics Device”, in the Tenth International Conference on Miniaturized Systems for Chemistry and Life Sciences, Japan Academic Association (2006).
	%li
		A. Carbonaro, L. A. Godley, and L. L. Sohn, “The NanoCytometer: A New Method of Cell Detection Performed at the Nanoscale”, in the Tenth International Conference on Miniaturized Systems for Chemistry and Life Sciences, Japan Academic Association (2006).
	%li
		A. Carbonaro and L. L. Sohn, “A Resistive Pulse Sensor for Multianalyte Detection”, Lab Chip 5, 1155-1160, 2005.
	%li
		B. K. Weis, L. L. Sohn, et al., “Personalized Exposure Assessment: Enabling Population-Based Environmental Research”, Environmental Health Perspectives 113, 840-848.
	%li
		O. A. Saleh and L. L. Sohn, “An On-Chip Artificial Pore for Molecular Sensing”, in the Handbook of BioMEMS and Biomedical Nanotechnology, eds. R. Bashir and S. Wereley, Kluwer Academic Press (2005).
	%li
		S. W. Mohanty, L. L. Sohn, and D. J. Beebe, “Hybrid Polymer/Thin-Film Impedance System for Label-Free Monitoring of Cells”, to appear in the 26th Annual International Conference, IEEE Engineering in Medicine and Biology Society, (2004).
	%li
		O. A. Saleh and L. L. Sohn, “Biological Sensing with an On-Chip Resistive Pulse Analyzer”, to appear in the 26th Annual International Conference, IEEE Engineering in Medicine and Biology Society, (2004).
	%li
		I. H. Chan, A. Carbonaro, and L. L. Sohn, “Artificial Pores for Performing Immunoassays”, International Conference on Miniaturized Chemical and Biochemical Analysis Systems ,Kluwer Academic Publishers (2004).
	%li
		T. Messina, L. N. Dunkleberger, G. A. Mensing, A. S. Kalmbach, R. Weiss, D. Beebe, and L. L. Sohn, “A Novel High-Frequency Sensor for Biological Discrimination”, in the International Conference on Miniaturized Chemical and Biochemical Analysis Systems, Kluwer Academic Publishers (2003).
	%li
		O. A. Saleh and L. L. Sohn, “Direct Detection of Antibody-Antigen Binding Using an On-Chip Artificial Pore”, Proc. Natl. Acad. Sci. 100, 820-824 (2003).
	%li
		O. A. Saleh and L. L. Sohn, An Artificial Nanopore for Molecular Sensing”, NanoLetters 3, 37-38 (2003).
	%li
		O. A. Saleh and L. L. Sohn, “Correcting Off-Axis Effects in an On-chip Resistive Pulse Analyzer”, Rev. Sci. Inst. 73, 4396-4398 (2002).
	%li
		S. Stupp, L. L. Sohn et al., “Small Wonders, Endless Frontiers: A Review of the National Nanotechnology Initiative”, National Research Council & National Academy of Engineering (2002).
	%li
		Bockrath, N. Markovic, A. Shepard, M. Tinkham, L. Gurevich, L. P. Kouwenhoven, M. W. Wu, and L. L. Sohn, “Scanned Conductance Microscopy of Carbon Nanotubes and λ-DNA”, NanoLetters, 2, 187-190, 2002.
	%li
		G. R. Facer, D. A. Notterman, and L. L. Sohn, “Electronic Biosensing”, appears as an invited chapter in the National Institutes of Environmental Health Sciences, National Institutes of Health, Biomarkers of Environmentally Associated Disease, eds. S. H. Wilson and W. A. Suk, CRC Press, 527-548 (2002).
	%li
		O. A. Saleh and L. L. Sohn, “Quantitative Sensing of Sub-Micron Colloids Using a Microchip Coulter Counter”, Rev. Sci. Inst. 72, 4449 (2001).
	%li
		O. A. Saleh and L. L. Sohn, “A Quantitative Nanoscale Coulter Counter”, in the Fifth International Conference on Miniaturized Chemical and Biochemical Analysis Systems, Kluwer Academic Publishers (2001).
	%li
		D. C. G. Klein, L. Gurevich, J. W. Janssen, L. P. Kouwenhoven, J. D. Carbeck, and L. L. Sohn, “Ordered Stretching of Single Molecules of DNA”, Appl. Phys. Lett. 78, 2396 (2001).
	%li
		G. R. Facer, D. A. Notterman, and L. L. Sohn, “Dielectric Spectroscopy for Bioanalysis: 40 Hz to 26.5 GHz in a Microfabricated Waveguide”, Appl. Phys. Lett. 78, 996 (2001).
	%li
		O. A. Saleh and L. l. Sohn, “A Resistive Sensing Device for Biological Solutions”, Biophysical Journal 80 (1): 637, Part 2 Jan 2001.
	%li
		G. R. Facer, D. A. Notterman, and L. L. Sohn, “Electronic Characterization of Biological Fluid Samples: 40 Hz to 30 GHz”, Biophysical Journal 80 (1): 652, Part 2 Jan 2001.
	%li
		L. L. Sohn, O. A. Saleh, G. R. Facer, A. Beavis, R. S. Allan, and D. A. Notterman, “Capacitance Cytometry: Measuring Biological Cells One-by-One”, Biophysical Journal 80 (1): 639, Part 2 Jan 2001.
	%li
		L. L. Sohn, O. A. Saleh, G. R. Facer, A. Beavis, R. S. Allan, and D. A. Notterman, “Capacitance Cytometry: Measuring Biological Cells One-by-One”, Proc. Natl. Acad. Sci. 97, 10687 (2000).
	%li
		Mingshaw W. Wu and Lydia L. Sohn, “Nanometer-scale Copper Electrodeposition from an On-Chip Source”, IEEE Electron Device Letters 21, 277 (2000).
	%li
		L. L. Sohn, “Quantum Leap for Electronics”, Nature 394, 131 (1998).
	%li
		O. B. Bakajin, J. P. Brody, J. Chou, S. S. Chan, T. Duke, J. Knight, L. Sohn, A. Vishwanath, R. H. Austin, and E. C. Cox, “Polymer Dynamics and Fluid Flow in Microfabricated Devices”, Proc. SPIE 3258, 100 (1998).
	%li
		“Mesoscopic Electron Transport”, NATO ASI Series, Vol. E 345, eds. L. L. Sohn, L. P. Kouwenhoven, and G. Schön (Boston, Kluwer Academic Publishers 1997).
	%li
		L. Sohn, C. T. Black, M. Eriksson, M. Crommie, and H. Hess, “Scanning Probe Microscopes and Their Applications”, in Mesoscopic Electron Transport, NATO ASI Series, Vol. E 345, eds. L. L. Sohn, L. P. Kouwenhoven, and G. Schön (Boston, Kluwer Academic Publishers (1997).
	%li
		Y. Xia, J. McClelland, R. Gupta, D. Qin, X. Zhao, L. L. Sohn, R. Celotta, and G. M. Whitesides, “Replica Molding Using Polymeric Materials: A Practical Step Toward Nanomanufacturing”, Adv. Mater. 9, 147 (1997).
	%li
		L. L. Sohn and R. L. Willett, “Fabrication of Metallic Nanostructures with an Atomic Force Microscope”, Surf. Sci. 362, 874 (1996).
	%li
		L. L. Sohn and R. L. Willett, “Fabrication of Nanostructures Using Atomic-Force-Microscope Based Lithography”, Appl. Phys. Lett. 67, 1552 (1995).
	%li
		T. J. Shaw, M. J. Ferrari, L. L. Sohn, D. H. Lee, M. Tinkham, and J. Clarke, “Magnetic Flux Noise Study of the KTB Transition in an Overdamped Josephson-Junction Array”, Phys. Rev. Lett. 76, 2551 (1996).
	%li
		L. L. Sohn, A. Pinczuk, B. S. Dennis, L. N. Pfeiffer, K. W. West, and L. Brey, “Dispersive Collective Excitation Modes in the Quantum Hall Regime”, Solid State Commun. 93, 897 (1995).
	%li
		L. L. Sohn and M. Octavio, “Half-integer steps in single-plaquette Josephson-junction arrays”, Rapid Communications, Physical Review B49, 9236 (1994).
	%li
		W. J. Elion, J. J. Wachters, L. L. Sohn, and J. E. Mooij, “The Aharonov-Casher Effect for Vortices in Josephson-Junction Arrays”, Physica B, 497 (1994).
	%li
		L. L. Sohn, J. Romijn, E. v.d. Drift, W. J. Elion, and J. E. Mooij, “Fabrication of a Quasi-3-Dimensional Josephson-Junction Array”, Physica B, 125 (1994).
	%li
		W. J. Elion, J. J. Wachters, L. L. Sohn, and J. E. Mooij, “Quantum Interference of Vortices in Josephson-Junction Arrays”, Physica B, 1001 (1994).
	%li
		L. L. Sohn, J. J. Wachters, U. Geigenmuller, W. J. Elion, and J. E. Mooij, “Static and Dynamic Properties of Vortices in Small Josephson-Junction Arrays”, Physica B, 1059 (1994).
	%li
		W. J. Elion, J. J. Wachters, L. L. Sohn, and J. E. Mooij, “Observation of the Aharonov-Casher effect of vortices in Josephson-junction arrays”, Phys. Rev. Lett. 71, 461 (1993).
	%li
		L. L. Sohn, M. T. Tuominen, M. S. Rzchowski, J. U. Free, and M. Tinkham, “AC and DC properties of Josephson junction arrays with long-range interaction”, Physical Review B47, 975 (1993).
	%li
		L. L. Sohn, M. S. Rzchowski, J. U. Free, and M. Tinkham, “Phase transitions in Josephson junction arrays with long-range interaction”, Physical Review B47, 967 (1993).
	%li
		L. L. Sohn, M. S. Rzchowski, J. U. Free, S. P. Benz, M. Tinkham and C. J. Lobb, “Absence of fractional giant Shapiro steps in diagonal Josephson-junction arrays”, Rapid Communications, Physical Review B44, 925 (1991).
	%li
		M. S. Rzchowski, L. L. Sohn, and M. Tinkham, “Frequency Dependence of Shapiro Steps in Josephson-Junction Arrays”, Rapid Communications, Physical Review B43, 8682 (1991).
		