.row
	%h3
		Research
	%p
		Our research is focused on developing and employing quantitative techniques—from super-resolution imaging (PALM and STORM) to micro/nanofabrication technologies to high resolution genomic analysis—to analyze single cells. Examples of projects we have running in the lab are:
	%ul
		.row
			%li.span8
				Node-Pore Sensing (NPS), a label-free technique that can screen for multiple markers on the surface of cells. We are using NPS to
				%ul
					%li 
						identify circulating tumor cells (CTCs) in whole blood
					%li
						screen and isolate the minute stem-cell population (5-10 satellite cells) directly from a single-muscle fiber niche
					%li
						create a point-of-care diagnostic tool to identify acute promyelocytic leukemia (APL)
			.span4.pagination-centered
				%img#node-pore{:src => "/assets/node-pore.png"}
		.row

			.span3.pagination-centered
				%img{:src => "/assets/mouse.jpg"}
			%li.span9
				Understanding dramatic postnatal decline in regenerative capacity in mammals. Here, we are performing single-cell analysis of the blastema cells we have isolated from the point of amputation of a mouse digit.
		%li
			Investigating how breast-cancer stem cells interact with their microenvironments. We are creating microfluidic devices that will allow us to culture isolated breast-cancer tumor initiating cells whilst introducing an array of complex chemical and mechanical cues.
	.row
		.span6
			%img#research-work{:src => "/assets/research-work.jpg"}
		.span6
			%img#research-device{:src => "/assets/research-device.jpg"}
	%p
		We are active members of the California Institute for Quantitative Biosciences (QB3) and the Berkeley Stem Cell Center, with students in several departments including the UC Berkeley-UCSF Graduate Group in Bioengineering, Berkeley’s Biophysics Graduate Group, and Mechanical Engineering.
	
	%h5.muted
		Support
	%p
		Our work is supported by the NIH, NSF, Michael J. Fox Foundation, Siebel Institute, CIRM (through the CIRM Postdoctoral Scholars program), CDMRP, Siemens Ag, and the W.M. Keck Foundation.