%h3.muted
	Sohn Lab Sponsors

%ul.unstyled
	%li
		%a{:href => "http://stemcellcenter.berkeley.edu", :target => "_blank"}
			%img{:src => "/assets/berkeley-stem-cell-center.jpg"}
	%li
		%a{:href => "http://cirm.ca.gov", :target => "_blank"}
			%img{:src => "/assets/cirm.jpg"}
	%li
		%a{:href => "http://www.michaeljfox.org", :target => "_blank"}
			%img{:src => "/assets/michael_j_fox.gif"}
	%li
		%a{:href => "http://www.wmkeck.org", :target => "_blank"}
			%img{:src => "/assets/keck.jpg"}
	%li
		%a{:href => "http://www.nih.gov", :target => "_blank"}
			%img{:src => "/assets/nih.gif"}
	%li
		%a{:href => "http://www.nsf.gov", :target => "_blank"}
			%img{:src => "/assets/nsf.gif"}
	%li
		%a{:href => "http://cdmrp.army.mil", :target => "_blank"}
			%img{:src => "/assets/cdmrp_logo.jpg"}
	%li
		%a{:href => "http://www.medical.siemens.com", :target => "_blank"}
			%img{:src => "/assets/siemens.jpg"}

%p
	Our work is supported by the NIH, NSF, Michael J. Fox Foundation, Siebel Institute, CIRM (through the CIRM Postdoctoral Scholars program), CDMRP, Siemens Ag, and the W.M. Keck Foundation.